@model MvcApplication4.Models.mama
@{
    ViewBag.Title = "adminmain";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    int tot = Model.UserListForAdmin.Count;
    int female = Model.UserListForAdmin.Count - Model.gend;
    int ina = Model.UserListForAdmin.Count - Model.active;
    int[] meraData = {tot,Model.active, ina,Model.gend,female};
    int q = 0;
}


@*moving graph*@
<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
            
            $('#container').highcharts({
                chart: {
                    type: 'spline',
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                    events: {
                        load: function () {

                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function () {
                                var x = (new Date()).getTime(), // current time
                                    y = Math.random();
                                series.addPoint([x, y], true, true);
                            }, 1000);
                        }
                    }
                },
                title: {
                    text: 'User Statistics'
                },
                xAxis: {
                    type: 'number',
                    tickPixelInterval: 150
                },
                yAxis: {
                    title: {
                        text: 'Total number of Users'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                            Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [{
                    name: 'Users',
                    data: (function () {
                        // generate an array of random data
                        var data = [],
                            time = (new Date()).getTime(),
                            i;
                        
                        for (i = -19; i <= 0; i += 1) {
                            data.push({
                                x: time + i*1000,
                                y: Math.random()
                                
                            });
                            @{
                                q++;   
                            }
                        }
                        return data;
                    }())
                }]
            });
        });
    });
		</script>









<article class="module width_full">
			<header><h3>Stats</h3></header>
			<div class="module_content">
				<article class="stats_graph">
					
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

				</article>
				
				<article class="stats_overview">
					<div class="overview_today">
						<p class="overview_day">Total</p>
						<p class="overview_count"> @Model.UserListForAdmin.Count </p>
						<p class="overview_type">Male Users</p>
						<p class="overview_count">@Model.gend</p>
						<p class="overview_type">Views</p>
					</div>
					<div class="overview_previous">
						<p class="overview_day">Traffic</p>
						<p class="overview_count">@Model.active</p>
						<p class="overview_type">Female Users</p>
						<p class="overview_count">@female</p>
						<p class="overview_type">Views</p>
					</div>


                    

				</article>
				<div class="clear"></div>
			</div>
		</article><!-- end of stats article -->
		
		<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Users List</h3>
		<ul class="tabs">
   			<li><a href="#tab1">List</a></li>
    		<li><a href="#tab2">Options</a></li>
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					
    				<th>User Id</th> 
    				<th>User Name</th> 
    				<th>Gender </th> 
    				<th>User Email</th>
                    <th>UserName</th> 
				</tr> 
			</thead> 
			<tbody> 
                @for(int j =0; j < Model.UserListForAdmin.Count; j++)
                {
				<tr> 
   					<td>@Model.UserListForAdmin[j].Id</td> 
    				<td>@Model.UserListForAdmin[j].Fname &nbsp @Model.UserListForAdmin[j].Lname</td> 
    				<td>@Model.UserListForAdmin[j].gender</td> 
    				<td>@Model.UserListForAdmin[j].email</td> 
    				<td>@Model.UserListForAdmin[j].username</td> 
				</tr> 
                }
				  
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->
			
			<div id="tab2" class="tab_content">
                <form action="/AdminPanel/deleteUser" method ="post">
			<table class="tablesorter" > 
			<thead> 
				<tr> 
   					<th></th> 
    				<th>User Id</th>
                    <th>User Email</th> 
    				<th>UserName</th> 
    				<th>Status</th> 
    				<th>Actions</th> 
				</tr> 
			</thead> 
			<tbody> 
                
                @for(int j =0; j < Model.UserListForAdmin.Count; j++)
                {
				<tr> 
   					<td><input type="checkbox" name="c" id="@Model.UserListForAdmin[j].Id" value="@Model.UserListForAdmin[j].Id"></td> 
    				<td>@Model.UserListForAdmin[j].Id</td> 
    				<td>@Model.UserListForAdmin[j].email</td> 
    				<td>@Model.UserListForAdmin[j].username</td>
                    <td>@Model.UserListForAdmin[j].status</td> 
    				<td> <input type="image" src="../images/icn_trash.png" title="Delete"/> </td> 
				</tr>
                } 
				 
			</tbody> 
			</table>
                    </form>
                <br /> <br />
			</div>
            <br />
            </div>
            <p>The data is in sorted form...</p>
            </article>

